@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Лестницы от производителя</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=1000, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/_lestnici_template.css" />
    <script src="/js/mootools-core-1.5.1.js"></script>
    <script src="/js/mootools-more-full-1.5.1.js"></script>
</head>
<body id="site">
    <div class="slide header" id="header">
        <div class="bg_header"></div>
        <p class="logo_top"></p>
        <div class="panel_header">
            <h1 class="panel_header_h1">ДЕРЕВЯННЫЕ ЛЕСТНИЦЫ НА ЗАКАЗ</h1>
            <h2 class="panel_header_h2">
                Делаем лестницы от 10 дней. По ГОСТу. Гарантия 2 года!<br />
                Бесплатная визуализация Вашего проекта!
            </h2>
            <a href="tel:8 495 720-26-03" class="header_tel">+7 (495) 720-26-03</a>
            <a class="btn_header btn" data-header="Заказать обратный звонок" data-what="Кнопка: «Заказать обратный звонок»">Заказать обратный звонок »</a>
        </div>
    </div>
    <div class="content">
        <div class="slide jobs">
            <div class="left_block">
                <div class="all_jobs" type="1"><span>ЛЕСТНИЦЫ НА КОСОУРАХ</span></div>
                <div class="all_jobs" type="2"><span>ПРЯМЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="3"><span>ВЕЕРНЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="4"><span>ИЗОГНУТЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="5"><span>СПИРАЛЬНЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="6"><span>С ЗАКРЫТЫМИ СТУПЕНЯМИ</span></div>
            </div>
            <div class="right_block">
                <div class="all_jobs" type="7"><span>ЛЕСТНИЦЫ НА ТЕТИВАХ</span></div>
                <div class="all_jobs" type="8"><span>С ПОВОРОТОМ 90°С</span></div>
                <div class="all_jobs" type="9"><span>С ПОВОРОТОМ 180°С</span></div>
                <div class="all_jobs" type="10"><span>ВИНТОВЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="11"><span>ХУДОЖЕСТВЕННЫЕ ЛЕСТНИЦЫ</span></div>
                <div class="all_jobs" type="12"><span>С ОТКРЫТЫМИ СТУПЕНЯМИ</span></div>
            </div>
        </div>
        <div class="slide steps">
            <div class="left_block">
                <h2 class="header_step">ЦИКЛ ПРОЕКТА ПО ДНЯМ</h2>
                <p class="text_step header_day">ДЕНЬ 1</p>
                <p class="text_step">
                    Ваша заявка и согласование времени приезда замерщика.<br />
                    Подробные консультации всего проекта
                </p>
                <p class="text_step header_day">ДЕНЬ 2</p>
                <p class="text_step">
                    Готовый 3D-проект, включающий: 3D-макет лестницы в интерьере<br />
                    и расчет нагрузочных характеристик
                </p>
                <p class="text_step header_day">ДЕНЬ 3</p>
                <p class="text_step">Расчет стоимости и заключение договора</p>
                <p class="text_step header_day">ДЕНЬ 4-10</p>
                <p class="text_step">Изготовления лестницы на производстве</p>
                <p class="text_step header_day">ДЕНЬ 11-17</p>
                <p class="text_step">Монтаж конструкции на объекте</p>
                <a class="btn_step btn" data-header="Заказать дизайн проект будующей лестницы" data-what="Кнопка: «Заказать дизайн проект будующей лестницы »">
                    Заказать дизайн проект<br />
                    будующей лестницы »
                </a>
            </div>
            <div class="right_block">
                <div class="block_quote">
                    <span class="quote">
                        Нас рекомендуют друзьям и знакомым,<br />
                        потому что мы даём советы<br />
                        на каждом этапе реализации проекта
                    </span>
                    <span class="author">
                        Золотов Ю.Н.<br />
                        генеральный директор
                    </span>
                </div>
                <p class="cb"></p>
                <form class="form_free_consultation">
                    <p class="header_free_consultation">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</p>
                    <input type="text" name="name" class="free_consultation_name input_free_consultation" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
                    <input type="text" name="phone" class="free_consultation_tel input_free_consultation" value="Телефон *" onfocus="if(this.value=='Телефон *') this.value='';" onblur="if(this.value=='') this.value='Телефон *';" />
                    <a class="btn_free_consultation submit" data-header="Получить бесплатную консультацию специалиста " data-what="Кнопка: «Получить бесплатную консультацию специалиста  »">
                        Получить бесплатную<br />
                        консультацию специалиста »
                    </a>
                </form>
            </div>
        </div>
        <div class="slide benefit">
            <div class="left_block">
                <div class="element_benefit">
                    <span class="header_benefit">ЭКОЛОГИЧНЫЕ<br /> МАТЕРИАЛЫ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        В производстве мебели используются<br />
                        только качественные и экологически<br />
                        чистые материалы, имеющие<br />
                        необходимые сертификаты соответствия.<br />
                        Используем только натуральное дерево.
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">ЕВРОПЕЙСКОЕ<br /> КАЧЕСТВО</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Обусловлено работой специалистов,<br />
                        регулярно проходящих стажировку в<br />
                        странах Европы.
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">ГАРАНТИЯ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        При производстве Вашей лестницы мы<br />
                        используем натуральное дерево, новейшее<br />
                        немецкое и итальянское оборудование.<br />
                        Изготовление происходит в соответствии<br />
                        с ГОСТ.
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">ВРЕМЯ<br /> НА РЕАЛИЗАЦИЮ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Мы потратим на Ваш проект столько<br />
                        времени сколько потребуется.<br />
                        Скрупулёзное соблюдение сроков и<br />
                        условий договора.
                    </span>
                </div>
            </div>
            <div class="right_block">
                <div class="element_benefit">
                    <span class="header_benefit">ГАРАНТИЙНОЕ<br /> ОБСЛУЖИВАНИЕ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Вся приобретенная у нас продукция<br />
                        в период срока гарантии может быть<br />
                        заменена или отремонтирована бесплатно
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">ТЩАТЕЛЬНАЯ<br /> ПОДГОТОВКА</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Выполняем любые варианты лестниц на<br />
                        заказ, как из каталога, так и по Вашим<br />
                        фотографиям, эскизам и 3d-моделям.
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">КОМПЛЕКСНЫЙ<br /> РЕМОНТ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Мы поможем сделать комплексный<br />
                        ремонт, спроектировать интерьер.
                    </span>
                </div>
                <div class="element_benefit">
                    <span class="header_benefit">ЛЕСТНИЦЫ<br /> НА ВСЮ ЖИЗНЬ</span>
                    <span class="line_benefit"></span>
                    <span class="text_benefit">
                        Изготовление лестниц любой сложности.<br />
                        Гарантия 2 года!
                    </span>
                </div>
            </div>
        </div>
        <div class="slide production">
            <div class="left_block">
                <div class="block_quote">
                    <div class="form_quote">
                        <span class="quote">
                            Нам доверяют партнёры и дизайн студии,<br />
                            а следовательно их дорогие клиенты.
                        </span>
                        <span class="author">
                            Золотов Ю.Н.<br />
                            генеральный директор
                        </span>
                    </div>
                    <p class="foto_quote"></p>
                </div>
                <div class="labels"></div>
                <div class="certificates">
                    <p class="certificate"></p>
                    <p class="certificate"></p>
                    <p class="certificate"></p>
                </div>
            </div>
            <div class="right_block">
                <div class="panel">
                    <p class="header_panel">МАТЕРИАЛЫ</p>
                    <p class="text_panel">
                        Наша страсть — дуб, бук, сосна и другие породы.<br />
                        Мы исключаем использование саморезов при креплении деталей, т.к. со временем,<br />
                        лестницы подвергаясь нагрузке и трению, теряют прочность конструкции,<br />
                        и рождают ненавистный скрип древесины.
                    </p>
                </div>
                <div class="panel">
                    <p class="header_panel">УСЛУГИ</p>
                    <p class="text_panel">
                        Wood Digital производит лестницы из массива дерева, т.е. цельной элитной<br />
                        древесины, которая выдерживает частые и длительные нагрузки, позволяет
                        <br />
                        воссоздать любые дизайнерские идеи.
                    </p>
                </div>
                <div class="panel">
                    <p class="header_panel">ГАРАНТИИ</p>
                    <p class="text_panel">
                        Вся приобретенная у нас продукция
                        <br />
                        в период срока гарантии может быть заменена или отремонтирована бесплатно.<br />
                        Мы даём гарантию на нашу продукцию 2 года!
                    </p>
                </div>
            </div>
        </div>
        <div class="slide contacts">
            <div class="left_block">
                <div class="content_text">

                    <div class="question">
                        <span class="header_question">Сколько по времени делается лестница</span>
                        <span class="line_question"></span>
                        <span class="text_question">
                            «Хорошее дело, быстро не делаем. Быстрее месяца не получится
                            сделать. Но при этом, у нас монтаж занимает 2-3 дня. Даже поточные
                            производства, обещающие сроки 2 недели, производят не быстрее
                            месяца. В принципах Wood Digital есть пункт про качество работы —
                            делаем правильно, гарантия от переделок 2 года.»
                        </span>
                    </div>
                    <div class="question">
                        <span class="header_question">
                            У меня лестница на один этаж с поворотом на 90°С,
                            прямой марш. Сколько будет стоить?
                        </span>
                        <span class="line_question"></span>
                        <span class="text_question">
                            «Это не маловажный вопрос. Так как не каждый может позволить себе
                            дубовые лестницы высшего качества. Сначала мы делаем проект,
                            3d-визуализацию проекта, чертежи. Вы сможете увидеть Вашу будущую
                            лестницу в интерьере. После этого называем реальную стоимость.
                            Например сосновая лестница стоит от 150 000 рублей, дубовая от 200
                            000 рублей.»
                        </span>
                    </div>
                </div>
            </div>
            <div class="right_block">
                <div class="content_text">
                    <div class="question">
                        <span class="header_question">Ваши лестницы не скрипят?</span>
                        <span class="line_question"></span>
                        <span class="text_question">
                            «Наши лестницы не скрипят. потому что в местах стыков несущих
                            конструкций мы делаем прокладки из эластичных материалов.
                            <br />
                            <br />
                            Также мы не экономим на материалах — толщина наших ступеней
                            40-60 мм, они выдерживают вес от 150 кг и прогибаются,
                            износоустойчивость максимальная. Стоить добавить что в наших
                            стандартах крепить несущие столбы в 2-3 местах.
                            <br />
                            <br />
                            Мы не используем саморезы, придерживаемся ГОСТов и используем
                            шип-пас соединения. За счёт этого наши лестницы не скрипят.<br />
                            <br />
                            Иногда, клиенты перезванивают нам спустя 6 лет после монтажа
                            лестницы и благодарят за то что могут спокойно по среди ночи<br />
                            спускаться по ступеням не создавая ненавистный скрип на весь дом.»
                        </span>
                    </div>
                    <div class="signatures">
                        <p class="signature"></p>
                        <p class="name_signature">
                            Золотов Ю.Н.<br />
                            генеральный директор
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide logo">
            <div class="left_block">
                <div class="contact_block">
                    <span class="logo_contact"></span>
                    <a href="tel:84957202603" class="tel_contact">8 495 720 26 03</a>
                    <p class="cb"></p>
                    <a class="btn btn_contact" data-header="Заказать обратный звонок" data-what="Кнопка: «Заказать обратный звонок »">Заказать обратный звонок »</a>
                </div>
                <div class="bottom_panel">
                    <div class="copyright">
                        <span class="header_copyright">
                            © Wood Digital, @DateTime.Now.Year <br />
                            Все права защищены
                        </span>
                    </div>
                </div>
            </div>
            <div class="right_block">
                <a class="bottom_element btn" data-header="Осталисть вопросы? Задайте их нашему специалисту!" data-what="Кнопка: «Осталисть вопросы? Задайте их нашему специалисту!»">
                    <span class="text_bottom_element">
                        <span>Остались вопросы?</span><br />
                        Задайте их нашему специалисту!
                    </span>
                </a>
                <a class="bottom_element btn" data-header="Вызвать бесплатно дизайнера на дом!" data-what="Кнопка: «Вызвать бесплатно дизайнера на дом »">
                    <span class="text_bottom_element">
                        <span>
                            Вызвать бесплатно<br />
                            дизайнера на дом »
                        </span>
                    </span>
                </a>
                <div class="bottom_panel">
                    <a href="http://affinage-agency.ru" target="_blank" class="copyright_affinage"></a>
                </div>
            </div>
            <div class="sub_menu">
                <p number="0" class="element_menu main">на главную страницу »</p>
            </div>
            </div>
            <div class="menu sub_menu">
                <div class="pod_menu">
                    <div class="logo_menu"></div>
                    <div class="elements_menu ">
                        <p number="1" class="element_menu active">РАБОТЫ</p>
                        <p number="2" class="element_menu">ЭТАПЫ</p>
                        <p number="3" class="element_menu">ВЫГОДА</p>
                        <p number="4" class="element_menu">ПРОИЗВОДСТВО</p>
                        <p number="5" class="element_menu">ВОПРОС-ОТВЕТ</p>
                        <p number="6" class="element_menu">КОНТАКТЫ</p>
                    </div>
                </div>
                <div class="action">
                    <span class="header_action">АКЦИЯ</span>
                    <span class="text_action">При заказе новой<br /> лестницы до 2 ноября<br /> дизайнер бесплатно<br /> приедет к вам на дом,<br /> сделает все замеры<br /> и приступит<br /> к дизайн-проекту!</span>
                    <a class="footer_action btn" data-header="Начните проект сегодня!" data-what="Кнопка: «Начните проект сегодня!»">Начните проект<br /> сегодня!</a>
                </div>
            </div>
        <div class="fon_slide">
            <div class="close">x</div>
            <div class="conteiner_foto">
                <p class="arrow next_left" onclick="slider.limit = arr_length; slider.right();"></p>
                <div class="foto" id="foto"></div>
                <p class="arrow next_right" onclick="slider.limit = arr_length; slider.left();"></p>
            </div>
            <div class="pager_panel menu_circle" id="pager_panel">
            </div>
        </div>
    </div>

    

    <script type="text/html" id="fotos">
        <img class="slider p_<%= number %>" src="/img/project/<%= foto %>.jpg"></img>
    </script>
    <script type="text/html" id="pager">
        <p number="<%= number %>" class="p<%= number %>" onclick="slider.limit = <%= number %>; number = <%= number %>; slider.left(<%= number %>);"></p>
    </script>
    <script type="text/javascript">
        var arr_length=0;
        window.addEvent('domready', function () {
            $$('.all_jobs').addEvent('click', function () {
                $$('.content').addClass('animation');
                $$('.content .menu').addClass('animation');
                var number_slide = this.getAttribute('type');
                create_foto(number_slide);
                $$('.foto img').setStyle('max-height', window.getSize().y < 500 ? 500 : window.getSize().y - 200);
            });

            $$('.content .fon_slide .close').addEvent('click', function () {
                $$('.content').removeClass('animation');
                $$('.content .menu').removeClass('animation');
            });



            $$('.content .fon_slide').setStyle('height', window.getSize().y < 500 ? 500 : window.getSize().y);
            $$('.slide').setStyle('height', window.getSize().y < 500 ? 500 : window.getSize().y);
            $$('.bg_header').setStyle('height', window.getSize().y < 500 ? 500 : window.getSize().y);

            window.addEvent('resize', function () {
                $$('.slide').setStyle('height', window.getSize().y < 500 ? 500 : window.getSize().y);
            });

            $$('.action').setStyle('margin-top', window.getSize().y < 400 ? 350 : window.getSize().y-(236));

            $$('.header').setStyle('padding-top', window.getSize().y < 500 ? 150 : (window.getSize().y) / 2 - 125);
            $$('.header').setStyle('height', window.getSize().y < 500 ? 350 : window.getSize().y - ((window.getSize().y) / 2 - 125));
            $$('.header').setStyle('height', window.getSize().y < 500 ? 350 : window.getSize().y - ((window.getSize().y) / 2 - 125));
            //$$('.menu').setStyle('header', window.getScrollSize().y

            $$('.sub_menu p').addEvent('click', function () {
                $$('.sub_menu p').removeClass('active')[1];
                this.addClass('active');
                scrollFx.toElement($$('.slide')[parseInt($$('.element_menu.active').get('number')[0],10)]);
            });
            $$('.content .menu').setStyle('top', window.getSize().y < 500 ? 500 : window.getSize().y);                    

            document.window.addEventListener('scroll',function(){
                if (window.getScroll().y < (parseInt($$('.header').getStyle('height')[0].split('px')[0], 10))) {
                    $$('.content .menu').setStyle('top', window.getSize().y < 500 ? 500 : window.getSize().y);                    
                } else {
                    $$('.content .menu').setStyle('top', 0);
                    $$('.menu').addClass('active');
                }
                if (document.documentElement.clientHeight*6<=document.body.scrollTop){
                    $$('.action').setStyle('margin-top', window.getSize().y < 400 ? 350 : window.getSize().y-(286));
                }else{
                    $$('.action').setStyle('margin-top', window.getSize().y < 400 ? 350 : window.getSize().y-(236));
                }
            });
           // make_order();
            //make_order.periodical(10);

            //$$('.menu').setStyle('top', window.getScroll().y < parseInt($$('.header').getStyle('height')[0].split('px')[0], 10) ? parseInt($$('.header').getStyle('height')[0].split('px')[0], 10) : window.getScroll().y - parseInt($$('.header').getStyle('height')[0].split('px')[0], 10));
            var arr = {
                1: ['11', '12', '13', '14', '15'],
                2: ['31', '32', '33', '34', '35'],
                3: ['51', '52', '53', '54'],
                4: ['71', '72', '73', '74', '75', '76', '77'],
                5: ['91', '92', '93', '94', '95', '96'],
                6: ['1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117', '1118', '1119'],
                7: ['21', '22', '23', '24'],
                8: ['41', '42', '43', '44', '45'],
                9: ['61', '62', '63', '64', '65', '66', '67', '68', '69', '610'],
                10: ['81', '82', '83', '84', '85'],
                11: ['101', '102', '103', '104', '105', '106', '107', '108', '109', '1010', '1011'],
                12: ['1211', '1211', '1212', '1213', '1214']
            }
            function create_foto(number) {
                document.getElementById('foto').innerHTML = '';
                document.getElementById('pager_panel').innerHTML = '';
                arr_length = arr[number].length;
                for (var q = 0; q < arr[number].length; q++) {
                    document.getElementById('foto').innerHTML += tmpl('fotos')({ foto: (arr[number][q]), number: q + 1, col:arr[number].length });
                    document.getElementById('pager_panel').innerHTML += tmpl('pager')({ number: q + 1, col:arr[number].length});
                }

                //$$('.arrow').addEvent('click', function () {
                //    slider.limit = arr[number].length; slider.left();
                //});
                //$$('.arrow.next_right').addEvent('click', function () {
                //    slider.left();

                //});
                //$$('.arrow.next_left').addEvent('click', function () {
                //    slider.right();

                //});
                //$$('.menu_circle p').addEvent('click', function (e) {
                //    slider.limit = col;
                //    var number = this.get('number');
                //    slider.left(number);
                //});
                $$('.p1').addClass('active');
                $$('.p_1').addClass('active');

            }

            // навигация
            var scrollFx = new Fx.Scroll(window, {
                duration: 1000,
                transition: Fx.Transitions.Cubic.easeOut,
                wheelStops: false
            });

            function next_slider() {

                $$('.sub_menu p').removeClass('active')[1].addClass('active');
                scrollFx.toElement($$('.slide')[1]);


            }

            var dots = $('dots');
            var slides = $$('.slide');
            var sub_menu = $$('.sub_menu')[0];
            var curr_page = parseInt(window.getScroll().y / window.getSize().y);

            change_page = function (e, i) {


                $$('.sub_menu p').removeClass('active')[i].addClass('active');
                scrollFx.toElement(slides[i], 'y');
                curr_page = i;


            };

            slides.each(function (a, i) {
                new Element('p' + (i == curr_page ? '.active' : '')).addEvent('click', function (e) { change_page(e, i); }).inject(sub_menu);

            });

            var keys = [37, 38, 39, 40];
            function preventDefault(e) {
                e = e || window.event;
                if (e.preventDefault)
                    e.preventDefault();
                e.returnValue = false;
            }
            function keydown(e) {
                for (var i = keys.length; i--;) {
                    if (e.keyCode === keys[i]) {
                        preventDefault(e);
                        return;
                    }
                }
            }
            function wheel(e) {
                preventDefault(e);

            }
            function disable_scroll() {

                if (window.addEventListener) {
                    window.addEventListener('mousewheel', wheel, false);
                    window.addEventListener('DOMMouseScroll', wheel, false);

                }
                window.onmousewheel = document.onmousewheel = wheel;
                document.onkeydown = keydown;
            }
            function enable_scroll() {

                if (window.removeEventListener) {
                    window.removeEventListener('mousewheel', wheel, false);
                    window.removeEventListener('DOMMouseScroll', wheel, false);
                }
                window.onmousewheel = document.onmousewheel = document.onkeydown = null;

            }

            //отключаем скролл
            if (Browser.platform == 'windows' && !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                disable_scroll();
                window.addEvent('mousewheel', function (e) {
                    if (scrollFx.isRunning()) {
                        e.stop();
                        return false;
                    }

                    var i = curr_page;
                    if (e.wheel > 0) {
                        i--;
                        if (i < 0) {
                            i = 0;
                        }
                    } else {
                        i++;
                        if (i >= slides.length - 1) {
                            i = slides.length - 1;
                        }
                    }

                    change_page(e, i);

                });
            }

            //document.body.addEvent('click:relay(.photo .item:not(.form))', function (e) {
            //    if (e) e.stop();

            //    var urlImg = this.getElements('img')[0].get('src');
            //    var div = new Element('div.popup');
            //    var form = new Element('form.popup_form[method=post][action=#]').inject(div);
            //    new Element('h1[html=УЗНАЙТЕ ПОДРОБНЕЕ<br />О КОЛЛЕКЦИИ «ВЕНЕЦИЯ»]').inject(form);
            //    new Element('h2[html=Мы будем рады рассказать про нашу мебель<br />и ответить на любые интересующие вопросы! ]').inject(form);
            //    new Element('input[type=text][name=name][value=Имя][onfocus="if(this.value==\'Имя\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Имя\';"]').inject(form);
            //    new Element('p.h5').inject(form);
            //    new Element('input[type=text][name=phone][value=Телефон *][onfocus="if(this.value==\'Телефон *\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Телефон *\';"]').inject(form);
            //    new Element('a.submit[html=ОТПРАВИТЬ][href=#]').store('what', e.target ? e.target.get('text') : 'ПОНРАВИЛАСЬ НАША МЕБЕЛЬ, заказ обратного звонка').inject(form);
            //    new Element('img[src=' + urlImg + ']').inject(div);
            //    new burnUp({ 'offset': 100, 'width': 900, 'html': div });
            //});

            ////заявка
            //$$('.order .what').addEvent('click', function () {
            //    $$('.order .what').removeClass('active');
            //    this.addClass('active');
            //});

            $$('.btn').addEvent('click', function (e) {
                if (e) e.stop();

                var form = new Element('form.popup_form[method=post][action=#]');
                new Element('h1[html=' + e.target.get('data-header') + ']').inject(form);
                new Element('input[type=text][name=name][value=Имя][onfocus="if(this.value==\'Имя\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Имя\';"]').inject(form);
                new Element('p').inject(form);
                new Element('input[type=text][name=phone][value=Телефон *][onfocus="if(this.value==\'Телефон *\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Телефон *\';"]').inject(form);
                new Element('p').inject(form);
                new Element('a.submit.recall[html=ОТПРАВИТЬ ЗАЯВКУ][href=#]').store('what', e.target.get('data-what')).inject(form);
                new burnUp({ 'offset': 200, 'html': form });
            });

            document.body.addEvent('click:relay(.submit)', function (e) {
                e.stop();

                var obj = this.getParent().toJSON();
                obj.title = 'WOOD DIGITAL заявка!';
                obj.url = document.URL;
                obj.what = e.target.retrieve('what') || e.target.get('data-what');

                if ($$('.order .what.active').length > 0) {
                    obj.what += ' ' + $$('.order .what.active')[0].get('html');
                }

                if (!obj.phone || obj.phone.test('Телефон', 'i') || obj.phone.trim() == '') {
                    alert('Укажите телефон');
                    return false;
                }

                if (obj.name && obj.name.test('Имя', 'i')) {
                    obj.name = '';
                }

                if (obj.email && obj.email.test('Email', 'i')) {
                    obj.email = '';
                }

                new Request.JSON({
                    url: '/site/sendmail',
                    onSuccess: function (responseJSON, responseText) {
                        if (responseJSON.status == 1) {
                            if (yaCounter26380383) {
                                yaCounter26380383.reachGoal('order');
                            }

                            alert('Cпасибо, мы приняли Вашу заявку, в самое ближайшее время наш менеджер свяжется с Вами. \nНам очень приятно что Вы оставили заявку!');
                        } else {
                            alert('К сожалению на сервере произошла ошибка, попробуйте повторить позднее');
                        }
                    }
                }).post(obj);
            });
        });

        //(function (a) {
        //    function d(b) {
        //        var c = b || window.event, d = [].slice.call(arguments, 1), e = 0, f = !0, g = 0, h = 0;
        //        return b = a.event.fix(c), b.type = "mousewheel", c.wheelDelta && (e = c.wheelDelta / 120), c.detail && (e = -c.detail / 3), h = e, c.axis !== undefined && c.axis === c.HORIZONTAL_AXIS && (h = 0, g = -1 * e), c.wheelDeltaY !== undefined && (h = c.wheelDeltaY / 120), c.wheelDeltaX !== undefined && (g = -1 * c.wheelDeltaX / 120), d.unshift(b, e, g, h), (a.event.dispatch || a.event.handle).apply(this, d)
        //    }
        //    var b = ["DOMMouseScroll", "mousewheel"];
        //    if (a.event.fixHooks)
        //        for (var c = b.length; c;)
        //            a.event.fixHooks[b[--c]] = a.event.mouseHooks;
        //    a.event.special.mousewheel = {
        //        setup: function () {
        //            if (this.addEventListener)
        //                for (var a = b.length; a;)
        //                    this.addEventListener(b[--a], d, !1);
        //            else
        //                this.onmousewheel = d
        //        }, teardown: function () {
        //            if (this.removeEventListener)
        //                for (var a = b.length; a;)
        //                    this.removeEventListener(b[--a], d, !1);
        //            else
        //                this.onmousewheel = null
        //        }
        //    }, a.fn.extend({
        //        mousewheel: function (a) {
        //            return a ? this.bind("mousewheel", a) : this.trigger("mousewheel")
        //        }, unmousewheel: function (a) {
        //            return this.unbind("mousewheel", a)
        //        }
        //    })
        //})(jQuery)

        var slider = {
            st: 1,
            element_img: 'slider',
            element_menu: 'menu_circle',
            limit: 1,
            left: function (col) {
                if (arguments['0'] != undefined) {
                    slider.st = col;
                } else {
                    slider.st++;
                }
                if (slider.st > slider.limit) {
                    slider.st = slider.st - slider.limit;
                }
                $$('.' + slider.element_img + '').removeClass('active');
                $$('.' + slider.element_img + '.p_' + slider.st).addClass('active');
                $$('.' + slider.element_menu + ' p').removeClass('active');
                $$('.' + slider.element_menu + ' .p' + slider.st).addClass('active');
            },
            right: function (col) {
                if (arguments['0'] != undefined) {
                    slider.st = col;
                } else {
                    slider.st--;
                }
                if (slider.st < 1) {
                    slider.st = slider.limit + slider.st;
                }
                $$('.' + slider.element_img + '').removeClass('active');
                $$('.' + slider.element_img + '.p_' + slider.st).addClass('active');
                $$('.' + slider.element_menu + ' p').removeClass('active');
                $$('.' + slider.element_menu + ' .p' + slider.st).addClass('active');
            }
        };



        burnUp = new Class({
            Implements: [Options, Events, Chain],
            options: {
                'width': 400,
                'opacity': 0.9,
                'offset': 50,
                'popup_back': null,
                'popup_cont': null,
                'popup_border': null,
                'popup_cont_class': null,
                'html': null
            },
            initialize: function (options) {
                this.setOptions(options);

                var _tc = this.options.this_class = this;
                var _tc_o = _tc.options;

                //создадим html
                _tc_o.popup_back = new Element('div.blossom_popup_back').setStyle('opacity', _tc_o.opacity).inject(document.body);
                _tc_o.popup_cont = new Element('div.blossom_popup_cont').setStyle('width', _tc_o.width).inject(document.body);
                if (_tc_o.popup_cont_class) {
                    _tc_o.popup_cont.addClass(_tc_o.popup_cont_class);
                }
                _tc_o.popup_border = new Element('div.blossom_popup_border').inject(_tc_o.popup_cont);
                new Element('span.close_btn[html=&#10005]')
                    .addEvent('click', function () { _tc.close(); }).inject(_tc_o.popup_cont);

                //присвоим класс к диву, чтобы найти объект всплывающего окна по диву div.blossom_popup_cont
                _tc_o.popup_cont.store('popup_class', _tc);

                // расстянем фон на весь экран
                if (_tc_o.popup_back.getHeight().toInt() < window.getScrollSize().y)
                    _tc_o.popup_back.setStyle('height', window.getScrollSize().y);

                _tc_o.popup_back.addEvent('click', function () { _tc.close(); });

                // зададим координаты
                _tc_o.popup_cont.setStyles({
                    'top': _tc_o.offset + window.getScroll().y,
                    'left': window.getSize().x / 2 - _tc_o.popup_cont.getWidth() / 2 + window.getScroll().x
                });

                //вставим код
                if (_tc_o.html) {
                    if (typeOf(_tc_o.html) == 'string' || typeOf(_tc_o.html) == 'number') {
                        _tc_o.popup_border.set('html', _tc_o.html);
                    } else {
                        _tc_o.html.inject(_tc_o.popup_border);
                    }
                }

                return _tc;
            },
            clear: function () {
                this.options.popup_border.empty();

                return this;
            },
            set: function (html) {
                var _tc_o = this.options;

                if (typeOf(html) == 'string' || typeOf(html) == 'number') {
                    _tc_o.popup_border.set('html', html);
                } else {
                    html.inject(_tc_o.popup_border);
                }

                return this;
            },
            close: function () {
                var _tc = this.options.this_class;
                var _tc_o = _tc.options;

                _tc_o.popup_back.destroy();
                _tc_o.popup_cont.destroy();

                _tc.fireEvent('onClose');

                return _tc;
            }
        });

        Element.implement({
            toJSON: function () {
                var json = {};
                this.getElements('input, select, textarea', true).each(function (el) {
                    if (!el.name || el.disabled || el.type == 'submit' || el.type == 'reset' || el.type == 'file') return;
                    var value;
                    if (el.tagName.toLowerCase() == 'select') {
                        value = Element.getSelected(el).map(function (opt) {
                            return opt.value;
                        });
                    } else {
                        if (el.type == 'radio' && !el.checked) {
                            value = null;
                        } else if (el.type == 'checkbox') {
                            value = el.checked;
                        } else {
                            value = el.value;
                        }
                    }

                    Array.from(value).each(function (val) {
                        if (typeof val != 'undefined') {
                            json[el.name] = val;
                        }
                    });
                });
                return json;
            }
        });

        function tmpl(str) {
            var fn = new Function("obj",
                "var p=[],print=function(){p.push.apply(p,arguments);};" +

                    // Introduce the data as local variables using with(){}
                    "with(obj){p.push('" + document.getElementById(str).innerHTML
                    .replace(/[\r\t\n]/g, " ")
                    .split("<%").join("\t")
                    .replace(/((^|%>)[^\t]*)'/g, "$1\r")
                    .replace(/\t=(.*?)%>/g, "',$1,'")
                    .split("\t").join("');")
                    .split("%>").join(" p.push('")
                    .split("\r").join("\\'") + "');} return p.join('');");
            return fn
        }
    </script>
    @if (Request.Url.Host != "localhost")
    {
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter26380383 = new Ya.Metrika({
                            id: 26380383,
                            webvisor: true,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div>
                <img src="//mc.yandex.ru/watch/26380383" style="position: absolute; left: -9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    }
    else
    {
        <script type="text/javascript">var yaCounter26380383 = null;</script>
    }
</body>
</html>
