@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WoodDigital мебель на заказ!</title>
    <meta name="description" content="мебель на заказ из натурального дерева со скидкой до 50%! бесплатная доставка от 3 дней по москве и области!" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=1000, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/_main_template.css" />
    <script src="/js/mootools-core-1.5.1.js"></script>
    <script src="/js/mootools-more-full-1.5.1.js"></script>
</head>
<body>
    <div id="container" class="container jam-effect intro-effect-push">
        <header class="header">
            <div class="bg-img">
                <div class="logo_top"></div>
                <div class="elle_menu top_left"><a href="/lestnici"></a></div>
                <div class="elle_menu top_right"><a href="#"></a></div>
                <div class="elle_menu bottom_left"><a href="#"></a></div>
                <div class="elle_menu bottom_right"><a href="/komodi"></a></div>
            </div>
        </header>
        <button class="trigger"><span></span></button>
        <article class="content">
            <div class="block_content">
                <div class="contact">
                    <div class="top_photo">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="top_text">
                        <div class="block_info">
                            <p>ЭКОЛОГИЧНЫЕ МАТЕРИАЛЫ</p>
                            <span>В производстве мебели используются только<br />
                                качественные и экологически чистые материалы,<br />
                                имеющие необходимые сертификаты соответствия
                            </span>

                        </div>
                        <div class="block_info">
                            <p>ЕВРОПЕЙСКОЕ КАЧЕСТВО</p>
                            <span>Обусловлено работой специалистов,<br />
                                регулярно проходящих стажировку<br />
                                в странах Европы
                            </span>
                        </div>
                        <div class="block_info">
                            <p>ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ</p>
                            <span>Вся приобретенная у нас продукция в период срока<br />
                                гарантии может быть заменена<br />
                                или отремонтирована бесплатно
                            </span>
                        </div>
                    </div>
                    <div class="bottom_text">
                        <p class="block_contact">КОНТАКТЫ</p>
                        <p class="block_logo"></p>
                        <p class="street">п. Родники, ул.Седовцев, д.11А</p>
                        <p class="block_email">info@wood-digital.com</p>
                        <div class="bloc_tel">
                            <a href="tel:84957202603">8 (495) 720 26 03</a>
                            <a href="tel:89265261563">8 (926) 526 15 63</a>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="footer">
                        <a href="/lestnici">ЛЕСТНИЦЫ НА ЗАКАЗ</a>
                        <a href="#">ДВЕРИ НА ЗАКАЗ</a>
                        <a href="#">МЕБЕЛЬ НА ЗАКАЗ</a>
                        <a href="/komodi">РАСПРОДАЖА МЕБЕЛИ</a>
                    </div>
                    <div class="copyright">© ООО «Вуддиджитал» 2014</div>
                </footer>
            </div>

        </article>
    </div>
    <script src="/js/classie.js"></script>
    <script src="/js/friction.js"></script>
    <script type="text/javascript">
        window.addEvent('domready', function () {
            $$('.bg-img a').setStyle('margin-top', (window.getSize().y / 4) - 15);
            $$('.elle_menu').setStyle('height', (window.getSize().y / 2));
            $$('.logo_top').setStyle('top', ((window.getSize().y / 2) - 30));
        });
    </script>
</body>
</html>
