@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Комод и тумба «Венеция» от производителя. Распродажа итальянской мебели. Мебель на заказ из натурального дерева со скидкой до 50%! бесплатная доставка от 3 дней по москве и области!</title>
    <meta name="description" content="мебель на заказ из натурального дерева со скидкой до 50%! бесплатная доставка от 3 дней по москве и области!" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=1000, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/_template.css" />
    <script src="/js/mootools-core-1.5.1.js"></script>
    <script src="/js/mootools-more-full-1.5.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>
<body id="site">
    <div class="header_photo">
        <p class="checkout callBack"><span class="red_text">РАСПРОДАЖА</span> ИТАЛЬЯНСКОЙ МЕБЕЛИ</p>
        <p class="tel"><a href="tel:84957202603">+7 495 720 26 03</a></p>
    </div>
    <div class="slide slide1 active">
        <div class="content">
            <p class="header_text">
                КОМОД И ТУМБА «ВЕНЕЦИЯ»<br />
                ОТ ПРОИЗВОДИТЕЛЯ
            </p>
            <p class="text">
                МЕБЕЛЬ НА ЗАКАЗ ИЗ НАТУРАЛЬНОГО ДЕРЕВА<br />
                <span class="red_text">СО СКИДКОЙ ДО 50%!</span><br />
                <span class="small_text">БЕСПЛАТНАЯ ДОСТАВКА ОТ 3 ДНЕЙ ПО МОСКВЕ И ОБЛАСТИ!</span>
            </p>

            <div>
                <p onclick="next_slider();" class="btn_header btn_top btn">УЗНАТЬ ПОДРОБНЕЕ</p>
                <p class="btn_header btn_video videos btn">СМОТРЕТЬ ВИДЕО &#9658;</p>
            </div>

            <div class="next_slid" onclick="next_slider();"></div>
        </div>
    </div>
    <div id="comod" class="slide slide2">

        <div class="content">
            <p class="header_text">КОМОД «ВЕНЕЦИЯ»</p>
            <p class="text">ВАЖНО КАЖДОЕ МГНОВЕНИЕ</p>
        </div>
        <div class="content_1">
            <p class="header_text">
                НОВЫЙ ВЗГЛЯД<br />
                НА ТРАДИЦИИ
            </p>
            <p class="h10"></p>
            <div class="text">
                Говоря о современной моде, часто вспоминают,
                 что «все новое — это хорошо забытое старое». Эта фраза уместна и по отношению к новинкам мебельной индустрии.
                <p class="h10"></p>
                Так, в моду возвращаются предметы интерьера, еще недавно считавшиеся устаревшими, например, комоды «Венеция».
            </div>
        </div>
        <div class="content_2">
            @*<div class="block_text">
                <div class="block_text">
                    <div class="block_text">
                        ТЕПЕРЬ<br />
                        <span>ЦЕНА</span><br />
                        <span>НИЖЕ</span>
                    </div>
                </div>
            </div>
            <div class="block_price">
                <div class="back_price">81 900<p class="line_create"></p>
                </div>
                <p class="new_price">55 900.-</p>
            </div>*@
            <div class="block_info">
                <div class="block_info_1">
                    <p>Материалы: массив бука, МДФ</p>
                    <p>Размеры: 850х1194х502</p>
                </div>
                <div class="block_info_2">
                    <p>Так же есть: белый,</p>
                    <p>белое серебро, белое золото</p>
                </div>
                <br />
                <p>
                    Гарантия 12 месяцев!
                    <br />
                    При влажности помещения не более 60%
                </p>

            </div>
        </div>
        <div class="content_3">
            <p class="header_text">КОНСУЛЬТАЦИЯ МЕНЕДЖЕРА</p>
            <p class="text">ОСТАВЬТЕ ЗАЯВКУ НА ОБРАТНЫЙ ЗВОНОК</p>
            <form action="#" method="post">
                <input type="text" class="form_pole" name="name" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
                <p></p>
                <input type="text" class="form_pole_2" name="phone" value="Телефон *" onfocus="if(this.value=='Телефон *') this.value='';" onblur="if(this.value=='') this.value='Телефон *';" />
                <p></p>
                <a class="submit btn_sub btn" data-what="Заявка на консультацию менеджера. Комод «Венеция»" href="#">ОТПРАВИТЬ</a>
                <a href="#" onclick="javascript;" class="politic">политика конфиденциальности</a>
            </form>
        </div>
    </div>
    <div class="slide slide3">
        <div class="content_1">
            <p class="header_text">ТУМБА «ВЕНЕЦИЯ»</p>
            <p class="text">ПРОИЗВЕДЕНИЕ ИСКУССТВА</p>
            <p class="text_info">
                Ящики имеют мягкий и тихий ход,
                <br />
                а встроенные доводчики плавно 
                <br />
                закрывают ящик до конца
            </p>
            <div class="photo">
                <p class="item">
                    <img class="pic" src="/img/item1.jpg" alt="">
                </p>
                <p class="item">
                    <img class="pic" src="/img/item2.jpg" alt="">
                </p>
                <p class="item">
                    <img class="pic" src="/img/item3.jpg" alt="">
                </p>
                <p class="cb"></p>
                <p class="item">
                    <img class="pic" src="/img/item4.jpg" alt="">
                </p>
                <p class="item">
                    <img class="pic" src="/img/item5.jpg" alt="">
                </p>
                <p class="item">
                    <img class="pic" src="/img/item6.jpg" alt="">
                </p>
            </div>
            <div class="block_info">
                <div class="block_info_1">
                    <p>Материалы: массив бука, МДФ</p>
                    <p>Размеры: 640х480х365</p>
                    <br />

                </div>
                <div class="block_info_2">
                    <p>Так же есть: белый,</p>
                    <p>белое серебро, белое золото</p>
                    <br>
                </div>
                <p>Гарантия 12 месяцев!</p>
                <p>При влажности помещения не более 60%</p>
            </div>
        </div>
        <div class="content_2">
            @*<div class="block_text">
                <div class="block_text">
                    <div class="block_text">
                        ТЕПЕРЬ<br />
                        <span>ЦЕНА</span><br />
                        <span>НИЖЕ</span>
                    </div>
                </div>
            </div>*@
            <div class="content_3">
                <p class="header_text">КОНСУЛЬТАЦИЯ МЕНЕДЖЕРА</p>
                <form action="#" method="post">
                    <input type="text" class="form_pole" name="name" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
                    <p></p>
                    <input type="text" class="form_pole" name="phone" value="Телефон *" onfocus="if(this.value=='Телефон *') this.value='';" onblur="if(this.value=='') this.value='Телефон *';" />
                    <p></p>
                    <a class="submit btn_sub btn" data-what="Заявка на консультацию менеджера. Тумба «Венеция»" href="#">ОТПРАВИТЬ</a>
                    <a href="#" onclick="javascript;" class="politic">политика конфиденциальности</a>
                </form>

            </div>
            @*
            <div class="block_price">
                <div class="back_price">51 900<p class="line_create"></p>
                </div>
                <p class="new_price">27 900.-</p>
            </div>
            *@

            
        </div>
    </div>
    <div class="slide slide4">
        <div class="content">
            <div class="content_info">
                <div class="content_text">
                    <p class="header_text">
                        СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ<br />
                        ТОЛЬКО ДО <span style="text-transform: uppercase;">@DateTime.Now.AddDays(5 - DateTime.Now.Day % 5).ToString("d MMMM")</span>
                    </p>

                </div>
                <p class="text">
                    При покупке коллекции «Венеция» скидка до 30%!<br />
                    На Ваш выбор: комод + тумба или комод + 2 тумбы!
                </p>
                @*<div class="block_text one_text">
                    <div class="block_text">
                        <div class="block_text all_text">АКЦИЯ</div>
                    </div>
                </div>*@
                <form action="#" method="post">
                    <div class="form_pole form_name">
                        <input type="text" class="form_pole" name="name" value="Имя" onfocus="if(this.value=='Имя') this.value='';" onblur="if(this.value=='') this.value='Имя';" />
                        <p></p>
                    </div>
                    <div class="form_pole form_conteiner">
                        <input type="text" class="form_pole" name="phone" value="Телефон *" onfocus="if(this.value=='Телефон *') this.value='';" onblur="if(this.value=='') this.value='Телефон *';" />
                        <p></p>
                    </div>
                    <!--ВОСПОЛЬЗУЙТЕСЬ ПРЕДЛОЖЕНИЕМ ПРЯМО СЕЙЧАС-->
                    <a class="submit btn_sub btn" data-what="СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ" href="#">ПРИНЯТЬ УЧАСТИЕ В АКЦИИ</a>
                    <a href="#" onclick="javascript;" class="politic">политика конфиденциальности</a>
                </form>

            </div>
            @*"<div class="block_price">
                <div class="back_price">83 800<p class="line_create"></p>
                </div>
                <p class="new_price">67 799.-</p>
            </div>*@
        </div>
    </div>
    <div class="slide slide5">
        <div class="content_info">
            <p class="content_info_header">
                ИСТОРИЯ СОЗДАНИЯ<br />
                КОЛЛЕКЦИИ
            </p>
            <p class="h10"></p>
            <p class="content_info_primer">ПРИМЕР ДЛЯ ПОДРАЖАНИЯ</p>
            <p class="h10"></p>
            <p class="content_info_all">
                Впервые комоды появились в середине века при дворе Людовика-XIV. Эта форма затем быстро утвердилась и в других странах, с приспособлением к конкретным нуждам. Сам термин происходит от Французского слова commodite, что означает “удобство”. Первоначальным вариантом был комод на высоких ножках с двумя ящиками, но в эпоху Регентства стал обычным комод с тремя и более ящиками, снабжённый короткими ножками (commode a la Regence).
                <br />
                <br />
                <span class="visibleOne">В правление Людовика XV предпочтительным стал сундук с двумя ящиками, стоящий на двух изогнутых ножках, с изогнутыми боковыми стенками. Передняя сторона решалась как единое декоративное целое, щель между ящиками игнорировалась. Комоды часто делали вкупе с подходящей парой угловых буфетов, известных как encoignures. Изделия с вертикально идущим изгибом получили название “bombe”, а горизонтальный изгиб именовался “серпантином”.<br />
                    <br />
                </span>
                Во все времена итальянские мебельщики считаются лучшими изготовителями и дизайнерами мебели. И они всегда являлись законодателями моды в этой сфере. Многие производители соревнуются с заслуженными мэтрами и хотят их превзойти в мастерстве и качестве. Для нашей компании соревнование с итальянскими мастерами не новость. Мы чувствуем их конкуренцию на наших объектах, когда оформляем интерьеры домов и квартир наших клиентов. Изготовление комода, не хуже чем итальянцы, то же задача амбициозная.
            </p>
            <p class="h10"></p>
            <div class="content_info_img"></div>
        </div>
        <div class="trust_us">
            <p class="trust_us_text">
                ПОТОМУ ЧТО ЭТО
                <br />
                НЕ ПРОСТО МЕБЕЛЬ — 
                <br />
                ЭТО ВАША ЗОНА КОМФОРТА
            </p>
            <div class="trust_us_img">
                <p class="logo_partner"></p>
                <p class="logo_partner"></p>
                <p class="logo_partner"></p>
                <p class="logo_partner"></p>
                <p class="logo_partner"></p>
                <p class="logo_partner"></p>
            </div>
            <p class="cb"></p>

        </div>
        <span class="copi">&copy; ООО «Вуддиджитал», @DateTime.Now.Year.ToString()<br />
            ОГРН 1105027000704</span>
        <a href="http://affinage-agency.ru/" class="trust_us_logo" target="_blank"></a>
    </div>

    <div class="menu">
        <div class="conteiner_menu">
            <p class="sub_menu"></p>
        </div>
    </div>


    <div id="confident_text" class="dn">
        <div id="conf" style="display: block; top: 50px; font-size: 1.4vh;">
            <h1>Политика конфиденциальности</h1>
            <p>Дата публикации: 20.07.2014 г.</p>

            <p class="h10"></p>
            <h3>Введение</h3>
            <p>
                Мы стремимся уважать информацию личного характера, касающуюся посетителей нашего сайта. В настоящей Политике конфиденциальности разъясняются некоторые из мер, 
                которые мы предпринимаем для защиты Вашей частной жизни.
            </p>
            <p class="h10"></p>
            <p>
                <strong style="font-style: italic;">Использование сайта Wood Digital означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки 
                его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования сайта.</strong>
            </p>

            <p class="h10"></p>
            <h3>Конфиденциальность информации личного характера</h3>
            <p>"Информация личного характера" обозначает любую информацию, которая может быть использована для идентификации личности, например, фамилия или адрес электронной почты.</p>

            <p class="h10"></p>
            <h3>Использование информации частного характера</h3>
            <p>
                Информация личного характера, полученная через наш сайт, используется нами, среди прочего, для целей регистрирования пользователей, 
                для поддержки работы и совершенствования нашего сайта, отслеживания политики и статистики пользования сайтом, а также в целях, разрешенных вами.
            </p>

            <p class="h10"></p>
            <h3>Цели сбора и обработки персональной информации пользователей</h3>
            <p>Wood Digital собирает и хранит только те персональные данные, которые необходимы для оказания услуг (исполнения соглашений и договоров с пользователем).</p>
            <p>Персональную информацию пользователя Wood Digital может использовать в следующих целях:</p>
            <p>- Идентификация стороны в рамках соглашений и договоров с Wood Digital;</p>
            <p>- Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся оказания услуг, а также обработка запросов и заявок от пользователя;</p>
            <p>- Улучшение качества Сервисов, удобства их использования, разработка новых услуг;</p>
            <p>- Таргетирование рекламных материалов;</p>
            <p>- Проведение статистических и иных исследований на основе обезличенных данных.</p>

            <p class="h10"></p>
            <h3>Раскрытие информации частного характера</h3>
            <p>
                Мы нанимаем другие компании или связаны с компаниями, которые по нашему поручению предоставляют услуги, такие как обработка и доставка информации, 
                размещение информации на данном сайте, доставка содержания и услуг, предоставляемых настоящим сайтом, выполнение статистического анализа. 
                Чтобы эти компании могли предоставлять эти услуги, мы можем сообщать им информацию личного характера, однако им будет разрешено получать только ту 
                информацию личного характера, которая необходима им для предоставления услуг. Они обязаны соблюдать конфиденциальность этой информации, 
                и им запрещено использовать ее в иных целях.
            </p>
            <p>
                Мы можем использовать или раскрывать Ваши личные данные и по иным причинам, в том числе, если мы считаем, что это необходимо в целях выполнения 
                требований закона или решений суда, для защиты наших прав или собственности, защиты личной безопасности пользователей нашего сайта или представителей 
                широкой общественности, в целях расследования или принятия мер в отношении незаконной или предполагаемой незаконной деятельности, 
                в связи с корпоративными сделками, такими как разукрупнение, слияние, консолидация, продажа активов или в маловероятном случае банкротства, 
                или в иных целях в соответствии с Вашим согласием.
            </p>
            <p>Мы не будем продавать, предоставлять на правах аренды или лизинга наши списки пользователей с адресами электронной почты третьим сторонам.</p>

            <p class="h10"></p>
            <h3>Условия обработки персональной информации пользователя и её передачи третьим лицам</h3>
            <p>Wood Digital хранит персональную информацию пользователей в соответствии с внутренними регламентами.</p>
            <p>
                В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем 
                информации о себе для общего доступа неограниченному кругу лиц.
            </p>
            <p>Wood Digital вправе передать персональную информацию пользователя третьим лицам в следующих случаях:</p>
            <p>- Пользователь выразил свое согласие на такие действия;</p>
            <p>- Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</p>
            <p>- Передача необходима в рамках использования пользователем определенного Сервиса либо для оказания услуги пользователю.</p>
            <p></p>
            <p></p>
            <p>При обработке персональных данных пользователей Wood Digital руководствуется Федеральным законом РФ «О персональных данных».</p>

            <p class="h10"></p>
            <h3>Доступ к информации личного характера</h3>
            <p>
                Если после предоставления информации на данный сайт, Вы решите, что Вы не хотите, чтобы Ваша Персональная информация использовалась в каких-либо целях, 
                Вы можете исключить себя из списка Wood Digital, связавшись с нами по адресу info@wood-digital.com или телефону +7 495 720 26 03.
            </p>

            <p class="h10"></p>
            <h3>Наша практика в отношении информации неличного характера</h3>
            <p>
                Мы можем собирать информацию неличного характера о Вашем посещении сайта, в том числе просматриваемые вами страницы, выбираемые вами ссылки, 
                а также другие действия в связи с Вашим использованием нашего сайта. Кроме того, мы можем собирать определенную стандартную информацию, 
                которую Ваш браузер направляет на любой посещаемый вами сайт, такую как Ваш IP-адрес, тип браузера и язык, время, 
                проведенное на сайте, и адрес соответствующего веб-сайта.
            </p>

            <p class="h10"></p>
            <h3>Использование закладок (cookies)</h3>
            <p>
                Файл cookie - это небольшой текстовый файл, размещаемый на Вашем твердом диске нашим сервером. Cookies содержат информацию, которая 
                позже может быть нами прочитана. Никакие данные, собранные нами таким путем, не могут быть использованы для идентификации посетителя сайта. 
                Не могут cookies использоваться и для запуска программ или для заражения Вашего компьютера вирусами. Мы используем cookies в целях контроля 
                использования нашего сайта, сбора информации неличного характера о наших пользователях, сохранения Ваших предпочтений и другой информации 
                на Вашем компьютере с тем, чтобы сэкономить Ваше время за счет снятия необходимости многократно вводить одну и ту же информацию, а также 
                в целях отображения Вашего персонализированного содержания в ходе Ваших последующих посещений нашего сайта. Эта информация также 
                используется для статистических исследований, направленных на корректировку содержания в соответствии с предпочтениями пользователей.
            </p>

            <p class="h10"></p>
            <h3>Агрегированная информация</h3>
            <p>
                Мы можем объединять в неидентифицируемом формате предоставляемую вами личную информацию и личную информацию, предоставляемую другими пользователями, 
                создавая таким образом агрегированные данные. Мы планируем анализировать данные агрегированного характера в основном в целях отслеживания 
                групповых тенденций. Мы не увязываем агрегированные данные о пользователях с информацией личного характера, поэтому агрегированные данные 
                не могут использоваться для установления связи с вами или Вашей идентификации. Вместо фактических имен в процессе создания агрегированных 
                данных и анализа мы будем использовать имена пользователей. В статистических целях и в целях отслеживания групповых тенденций анонимные 
                агрегированные данные могут предоставляться другим компаниям, с которыми мы взаимодействуем.
            </p>

            <p class="h10"></p>
            <h3>Меры, применяемые для защиты персональной информации пользователей</h3>
            <p>
                Wood Digital принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного 
                или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
            </p>

            <p class="h10"></p>
            <h3>Изменения, вносимые в настоящее Заявление о конфиденциальности</h3>
            <p>
                Мы сохраняeм за собой право время от времени вносить изменения или дополнения в настоящую Политику конфиденциальности - частично или полностью. 
                Мы призываем Вас периодически перечитывать нашу Политику конфиденциальности с тем, чтобы быть информированными относительно того, как мы защищаем 
                Вашу личную информацию. С последним вариантом Политики конфиденциальности можно ознакомиться путем нажатия на гипертекстовую ссылку "Политика конфиденциальности".
                Во многих случаях, при внесении изменений в Политику конфиденциальности, мы также изменяем и дату, 
                проставленную в начале текста Политики конфиденциальности, однако других уведомлений об изменениях мы можем вам не направлять. Однако, если речь идет 
                о существенных изменениях, мы уведомим Вас, либо разместив предварительное заметное объявление о таких изменениях, либо непосредственно направив вам 
                уведомление по электронной почте. Продолжение использования вами данного сайта и выход на него означает Ваше согласие с такими изменениями.
            </p>
            <p>К настоящей Политике и отношениям между пользователем и Wood Digital, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>

            <p class="h10"></p>
            <h3>Обратная cвязь с нами. Вопросы и предложения</h3>
            <p>Все предложения или вопросы по поводу настоящей Политики следует сообщать по адресу info@wood-digital.com</p>
            <p>
                Если у Вас возникли какие-либо вопросы или предложения по поводу нашего положения о конфиденциальности, 
                пожалуйста, свяжитесь с нами по адресу info@wood-digital.com или телефону +7 495 720 26 03.
            </p>
        </div>
    </div>
    <script type="text/javascript">
        window.addEvent('domready', function () {
            $$('.politic').addEvent('click', function (e) {
                if (e) e.stop();
                new burnUp({ 'offset': 50, 'width': 900, 'html': $('confident_text').clone().removeClass('dn') });
            });

            $$('.videos').addEvent('click', function (e) {
                if (e) e.stop();
                var div = new Element('iframe[width=853][height=480][src=//www.youtube.com/embed/sSI4gG-JCNc?rel=0&autoplay=1]');
                new burnUp({ 'offset': 150, 'width': 920, 'html': div });
            });

            $$('.slide').setStyle('height', window.getSize().y < 650 ? 650 : window.getSize().y);

            window.addEvent('resize', function () {
                $$('.slide').setStyle('height', window.getSize().y < 650 ? 650 : window.getSize().y);
            });

            var callBack = $$('.callBack')[0];

            var make_order = function () {
                if (window.getScroll().y > (window.getSize().y - 100)) {
                    callBack.set('html', 'СДЕЛАТЬ ЗАКАЗ');
                } else {
                    callBack.set('html', '<span class="red_text">РАСПРОДАЖА</span> ИТАЛЬЯНСКОЙ МЕБЕЛИ');
                }
            };
            make_order();
            make_order.periodical(500);

            // навигация
            var scrollFx = new Fx.Scroll(window, {
                duration: 1000,
                transition: Fx.Transitions.Cubic.easeOut,
                wheelStops: false
            });

            function next_slider() {
                $$('.sub_menu p').removeClass('active')[1].addClass('active');
                scrollFx.toElement($$('.slide')[1]);
            }

            //var dots = $('dots');
            var slides = $$('.slide');
            var sub_menu = $$('.sub_menu')[0];
            var curr_page = parseInt(window.getScroll().y / window.getSize().y);

            change_page = function (e, i) {
                $$('.sub_menu p').removeClass('active')[i].addClass('active');
                scrollFx.toElement(slides[i], 'y');
                curr_page = i;
            };

            slides.each(function (a, i) {
                new Element('p' + (i == curr_page ? '.active' : '')).addEvent('click', function (e) { change_page(e, i); }).inject(sub_menu);
            });

            var keys = [37, 38, 39, 40];
            function preventDefault(e) {
                e = e || window.event;
                if (e.preventDefault)
                    e.preventDefault();
                e.returnValue = false;
            }
            function keydown(e) {
                for (var i = keys.length; i--;) {
                    if (e.keyCode === keys[i]) {
                        preventDefault(e);
                        return;
                    }
                }
            }
            function wheel(e) {
                preventDefault(e);
            }
            function disable_scroll() {
                if (window.addEventListener) {
                    window.addEventListener('mousewheel', wheel, false);
                    window.addEventListener('DOMMouseScroll', wheel, false);
                }
                window.onmousewheel = document.onmousewheel = wheel;
                document.onkeydown = keydown;
            }
            function enable_scroll() {
                if (window.removeEventListener) {
                    window.removeEventListener('mousewheel', wheel, false);
                    window.removeEventListener('DOMMouseScroll', wheel, false);
                }
                window.onmousewheel = document.onmousewheel = document.onkeydown = null;
            }

            //отключаем скролл
            if (Browser.platform == 'windows' && !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                disable_scroll();
                window.addEvent('mousewheel', function (e) {
                    if (scrollFx.isRunning()) {
                        e.stop();
                        return false;
                    }

                    var i = curr_page;
                    if (e.wheel > 0) {
                        i--;
                        if (i < 0) {
                            i = 0;
                        }
                    } else {
                        i++;
                        if (i >= slides.length - 1) {
                            i = slides.length - 1;
                        }
                    }

                    change_page(e, i);
                });
            }

            document.body.addEvent('click:relay(.photo .item:not(.form))', function (e) {
                if (e) e.stop();

                var urlImg = this.getElements('img')[0].get('src');
                var div = new Element('div.popup');
                var form = new Element('form.popup_form[method=post][action=#]').inject(div);
                new Element('h1[html=УЗНАЙТЕ ПОДРОБНЕЕ<br />О КОЛЛЕКЦИИ «ВЕНЕЦИЯ»]').inject(form);
                new Element('h2[html=Мы будем рады рассказать про нашу мебель<br />и ответить на любые интересующие вопросы! ]').inject(form);
                new Element('input[type=text][name=name][value=Имя][onfocus="if(this.value==\'Имя\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Имя\';"]').inject(form);
                new Element('p.h5').inject(form);
                new Element('input[type=text][name=phone][value=Телефон *][onfocus="if(this.value==\'Телефон *\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Телефон *\';"]').inject(form);
                new Element('a.submit[html=ОТПРАВИТЬ][href=#]').store('what', e.target ? e.target.get('text') : 'ПОНРАВИЛАСЬ НАША МЕБЕЛЬ, заказ обратного звонка').inject(form);
                new Element('img[src=' + urlImg + ']').inject(div);
                new burnUp({ 'offset': 100, 'width': 900, 'html': div });
            });

            //заявка
            $$('.order .what').addEvent('click', function () {
                $$('.order .what').removeClass('active');
                this.addClass('active');
            });

            $$('.callBack').addEvent('click', function (e) {
                if (e) e.stop();

                var form = new Element('form.popup_form[method=post][action=#]');
                new Element('h1[html=ЗАПОЛНИТЕ ФОРМУ,<br/> МЫ ПЕРЕЗВОНИМ ВАМ<br /> В ТЕЧЕНИИ 5 МИНУТ]').inject(form);
                new Element('input[type=text][name=name][value=Имя][onfocus="if(this.value==\'Имя\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Имя\';"]').inject(form);
                new Element('p').inject(form);
                //new Element('input[type=text][name=email][value=Email][onfocus="if(this.value==\'Email\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Email\';"]').inject(form);
                //new Element('p').inject(form);
                new Element('input[type=text][name=phone][value=Телефон *][onfocus="if(this.value==\'Телефон *\') this.value=\'\';"][onblur="if(this.value==\'\') this.value=\'Телефон *\';"]').inject(form);
                new Element('p').inject(form);
                new Element('a.submit.recall[html=ОТПРАВИТЬ ЗАЯВКУ][href=#]').store('what', 'Обратный звонок').inject(form);
                new burnUp({ 'offset': 200, 'html': form });
            });

            document.body.addEvent('click:relay(.submit)', function (e) {
                e.stop();

                var obj = this.getParent().toJSON();
                obj.title = 'WOOD DIGITAL заявка!';
                obj.url = document.URL;
                obj.what = e.target.retrieve('what') || e.target.get('data-what');

                if ($$('.order .what.active').length > 0) {
                    obj.what += ' ' + $$('.order .what.active')[0].get('html');
                }

                if (!obj.phone || obj.phone.test('Телефон', 'i') || obj.phone.trim() == '') {
                    alert('Укажите телефон');
                    return false;
                }

                if (obj.name && obj.name.test('Имя', 'i')) {
                    obj.name = '';
                }

                if (obj.email && obj.email.test('Email', 'i')) {
                    obj.email = '';
                }

                new Request.JSON({
                    url: '/site/sendmail',
                    onSuccess: function (responseJSON, responseText) {
                        if (responseJSON.status == 1) {
                            if (yaCounter26380383) {
                                yaCounter26380383.reachGoal('order');
                            }

                            alert('Cпасибо, мы приняли Вашу заявку, в самое ближайшее время наш менеджер свяжется с Вами. \nНам очень приятно что Вы оставили заявку!');
                        } else {
                            alert('К сожалению на сервере произошла ошибка, попробуйте повторить позднее');
                        }
                    }
                }).post(obj);
            });
        });

        //(function (a) {
        //    function d(b) {
        //        var c = b || window.event, d = [].slice.call(arguments, 1), e = 0, f = !0, g = 0, h = 0;
        //        return b = a.event.fix(c), b.type = "mousewheel", c.wheelDelta && (e = c.wheelDelta / 120), c.detail && (e = -c.detail / 3), h = e, c.axis !== undefined && c.axis === c.HORIZONTAL_AXIS && (h = 0, g = -1 * e), c.wheelDeltaY !== undefined && (h = c.wheelDeltaY / 120), c.wheelDeltaX !== undefined && (g = -1 * c.wheelDeltaX / 120), d.unshift(b, e, g, h), (a.event.dispatch || a.event.handle).apply(this, d)
        //    }
        //    var b = ["DOMMouseScroll", "mousewheel"];
        //    if (a.event.fixHooks)
        //        for (var c = b.length; c;)
        //            a.event.fixHooks[b[--c]] = a.event.mouseHooks;
        //    a.event.special.mousewheel = {
        //        setup: function () {
        //            if (this.addEventListener)
        //                for (var a = b.length; a;)
        //                    this.addEventListener(b[--a], d, !1);
        //            else
        //                this.onmousewheel = d
        //        }, teardown: function () {
        //            if (this.removeEventListener)
        //                for (var a = b.length; a;)
        //                    this.removeEventListener(b[--a], d, !1);
        //            else
        //                this.onmousewheel = null
        //        }
        //    }, a.fn.extend({
        //        mousewheel: function (a) {
        //            return a ? this.bind("mousewheel", a) : this.trigger("mousewheel")
        //        }, unmousewheel: function (a) {
        //            return this.unbind("mousewheel", a)
        //        }
        //    })
        //})(jQuery)

        burnUp = new Class({
            Implements: [Options, Events, Chain],
            options: {
                'width': 400,
                'opacity': 0.9,
                'offset': 50,
                'popup_back': null,
                'popup_cont': null,
                'popup_border': null,
                'popup_cont_class': null,
                'html': null
            },
            initialize: function (options) {
                this.setOptions(options);

                var _tc = this.options.this_class = this;
                var _tc_o = _tc.options;

                //создадим html
                _tc_o.popup_back = new Element('div.blossom_popup_back').setStyle('opacity', _tc_o.opacity).inject(document.body);
                _tc_o.popup_cont = new Element('div.blossom_popup_cont').setStyle('width', _tc_o.width).inject(document.body);
                if (_tc_o.popup_cont_class) {
                    _tc_o.popup_cont.addClass(_tc_o.popup_cont_class);
                }
                _tc_o.popup_border = new Element('div.blossom_popup_border').inject(_tc_o.popup_cont);
                new Element('span.close_btn[html=&#10005]')
                    .addEvent('click', function () { _tc.close(); }).inject(_tc_o.popup_cont);

                //присвоим класс к диву, чтобы найти объект всплывающего окна по диву div.blossom_popup_cont
                _tc_o.popup_cont.store('popup_class', _tc);

                // расстянем фон на весь экран
                if (_tc_o.popup_back.getHeight().toInt() < window.getScrollSize().y)
                    _tc_o.popup_back.setStyle('height', window.getScrollSize().y);

                _tc_o.popup_back.addEvent('click', function () { _tc.close(); });

                // зададим координаты
                _tc_o.popup_cont.setStyles({
                    'top': _tc_o.offset + window.getScroll().y,
                    'left': window.getSize().x / 2 - _tc_o.popup_cont.getWidth() / 2 + window.getScroll().x
                });

                //вставим код
                if (_tc_o.html) {
                    if (typeOf(_tc_o.html) == 'string' || typeOf(_tc_o.html) == 'number') {
                        _tc_o.popup_border.set('html', _tc_o.html);
                    } else {
                        _tc_o.html.inject(_tc_o.popup_border);
                    }
                }

                return _tc;
            },
            clear: function () {
                this.options.popup_border.empty();

                return this;
            },
            set: function (html) {
                var _tc_o = this.options;

                if (typeOf(html) == 'string' || typeOf(html) == 'number') {
                    _tc_o.popup_border.set('html', html);
                } else {
                    html.inject(_tc_o.popup_border);
                }

                return this;
            },
            close: function () {
                var _tc = this.options.this_class;
                var _tc_o = _tc.options;

                _tc_o.popup_back.destroy();
                _tc_o.popup_cont.destroy();

                _tc.fireEvent('onClose');

                return _tc;
            }
        });

        Element.implement({
            toJSON: function () {
                var json = {};
                this.getElements('input, select, textarea', true).each(function (el) {
                    if (!el.name || el.disabled || el.type == 'submit' || el.type == 'reset' || el.type == 'file') return;
                    var value;
                    if (el.tagName.toLowerCase() == 'select') {
                        value = Element.getSelected(el).map(function (opt) {
                            return opt.value;
                        });
                    } else {
                        if (el.type == 'radio' && !el.checked) {
                            value = null;
                        } else if (el.type == 'checkbox') {
                            value = el.checked;
                        } else {
                            value = el.value;
                        }
                    }

                    Array.from(value).each(function (val) {
                        if (typeof val != 'undefined') {
                            json[el.name] = val;
                        }
                    });
                });
                return json;
            }
        });
    </script>





    @if (Request.Url.Host != "localhost")
    {
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter26380383 = new Ya.Metrika({
                            id: 26380383,
                            webvisor: true,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div>
                <img src="//mc.yandex.ru/watch/26380383" style="position: absolute; left: -9999px;" alt="" />
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    }
    else
    {
        <script type="text/javascript">var yaCounter26380383 = null;</script>
    }
</body>
</html>
